@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

// Color Themse
@import "./color-themes";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: $black;
  font-family: sans-serif;
}

/*
     Navbar Restaurant
*/
.nav {
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $navbar-color;
    padding: 30px 15px;
  }
  &-brand {
    font-family: "Satisfy", cursive;
    letter-spacing: 2px;
    color: $white;
    font-size: 30px;
  }
  &-menu {
    display: inline-flex;
    li {
      list-style-type: none;

      a {
        font-size: 25px;
        padding: 1.3em;
        text-decoration: none;
        color: $white;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/*
   styles Header
*/
.header {
  width: 100%;
  height: 80vh;
  &-img {
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 100%;
  }
}
